/Labirinto$LabirintoBuilder.class
/Labirinto.class
/Stanza.class
/StanzaBloccata.class
/StanzaBuia.class
/StanzaMagica.class
/StanzaMagicaProtected.class
/StanzaProtected.class
/LabirintoBuilderTest.class
/LabirintoTest.class
/StanzaBloccataTest.class
/StanzaBuiaTest.class
/StanzaMagicaProtectedTest.class
/StanzaMagicaTest.class
/StanzaTest.class
